@font-face {
    font-family: 'TommySolid';
    src: url('/fonts/MADETOMMYBlack/made_tommy_black-webfont.woff') format('woff'),
         url('/fonts/MADETOMMYBlack/made_tommy_black-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    
}
@font-face{ 
	font-family: 'TommyOutline';
    src: url('/fonts/MADETOMMYBoldOutline/made_tommy_bold_outline-webfont.woff') format('woff'),
    url('/fonts//MADETOMMYBoldOutline/made_tommy_bold_outline-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}