@import "customfont.css";

*{
    margin: 0; 
    padding: 0; 
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
body{
    display: grid; 
    height: 100vh;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    overflow:hidden;
}
/* ********************************************HEADER********************************************* */
h1{
    font-family: 'TommyOutline', 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size:4rem;
}
.header-left{
    grid-row: 1fr; 
    grid-column: 1 / span 2;
    background-color: black;
    color: white;
    padding:1rem;
    text-align: right;
    position: relative;
    font-family: 'TommySolid';
}
.header-left > h1{
    font-family: 'Tommysolid';
}
.header-right{
    grid-row: 1fr; 
    grid-column: 3 / span 4;
    background-color: white;
    padding:1rem;
   
}

/* !#******************************Playing with Animation**************#! */
.rotating{
    width: 23rem;
    height:20rem;
    border: 2px solid green;
    border-radius: 50%;
    position: absolute;
    top:-6.2rem;
    right: -12.2rem;
    /* animation: spin 8s infinite linear; */
}
    @keyframes spin {
        100%{
            transform: rotate(360deg);
        }
    }

.letter{
    font-size:4rem;
    color: red;
    position: absolute;
    bottom: 0.5em;
    left: 1.5rem;
}
/* ***********************************LEFT MENU ************************************************* */
menu{
    background-color: black;
    grid-row: 2; 
    grid-column: 2/ span 1; 
    display:flex;
    justify-content: center;
    padding-top:6rem;


}
.menu-links{
    display: flex;
    flex-direction: column;
    height:50vh;
    padding:2rem;
    justify-content: space-around;
    
}

.menu-links > a{
    color: white;
    font-size:1.8rem;
    text-decoration: none;
    font-family: 'TommySolid', 'Gill Sans',sans-serif;
}
a:hover{
    color:hotpink;
    transition: 0.25s ease-in;
}

/******************************************HERO IMAGE *********************************************************** */
.hero{
    grid-row: 2; 
    grid-column: 1 / span 1; 
}

img{
    height:100vh;
    max-width:40vw;
    min-width:40vw;
}
/*****************************************DISPLAY DIV************************************************************ */
.display{
    grid-row: 2; 
    grid-column: 3 /span 4;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    overflow:auto;
    width: 100%;

}
#display-holder{
    width:100%;
    height:80vh;
    text-align: center;
    padding:50px;
}
#display-resume{
    background-color: yellowgreen;
    width:100%;
    height:90vh;
}
#display-aboutme{
    background-color: orange;
    width:100%;
    min-height:90vh;
}
#display-p1{
    background-color: purple;
    width:100%;
    min-height:90vh;
}
#display-p2{
    background-color: orangered;
    width:100%;
    min-height:90vh;
}
#display-contact{
    background-color: skyblue;
    width:100%;
    min-height:90vh;
}